#gf {

	max-width:1200px;

	@media only screen and (min-width: 920px) and (max-width: 1201px) {
		padding:0 5%!important;
		width:90%;
	}

	@media only screen and (min-width: 645px) and (max-width: 920px) {
		padding:0 5%!important;
		width:90%;
	}

	@media only screen and (max-width: 645px) {
		padding:0 5%!important;
		width:90%;
	}
	
}
