.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px;
  font-family: "Pragmatica-web", Helvetica, Arial, sans-serif; }
  #gf img {
    width: 100%; }
  #gf .grfxhead {
    font-family: 'Chronicle Deck 6r', Georgia, serif;
    width: 100%;
    margin-bottom: .3em;
    font-size: 26px;
    font-weight: 600;
    float: left;
    line-height: 28px; }
  #gf .grfxintro {
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left; }
  #gf .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf .source {
    color: #CCC;
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }

#gf {
  max-width: 1200px; }
  @media only screen and (min-width: 920px) and (max-width: 1201px) {
    #gf {
      padding: 0 5% !important;
      width: 90%; } }
  @media only screen and (min-width: 645px) and (max-width: 920px) {
    #gf {
      padding: 0 5% !important;
      width: 90%; } }
  @media only screen and (max-width: 645px) {
    #gf {
      padding: 0 5% !important;
      width: 90%; } }
