<!-- <div class="width-text photo"> -->
<!-- <div class="width-wide photo"> -->
<!-- <div class="width-wider photo"> -->
<!-- <div class="width-full photo"> -->
<div class="width-cinematic photo stretch">

		<div id="gf">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				Your stuff
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

</div>
